<html>
<head>
    <link href="./css/style.css" rel="stylesheet" />
    <title>Pishing Web Page Project</title>
</head>
<body>
    <p id="head"> Welcome to one stop Solution <br><b id="Heading"> Buddy4Study!</b> </p>
    <div id="header_wrapper">
        

            <form action="/" method="post">
                <div id="header">
                    <h1 id="he">Login to Your Account</h1>
                <li > <b> Email or Phone<br><input type="text" name="email" required></b></li>
                <br><br><br>
                <li> <br> <b> Password </b></br><input type="password" name="password" required><br><br><a href="">Forgotten account?</a></li><br>
            </div>
               <div id="lb"> <input type="submit" id="loginb" name="login" value="Log In" style="margin-right: 100px; margin-right: -200px; margin-top: 200px;"></div>
                
            </form>

        </div>
    

    <div id="wrapper">

        
        
        <div id="div2">
            <h1>Create an account</h1>
            <form action="/" method="post">
            <li><input type="text" placeholder="First Name" id="Firstname"><input type="text" placeholder="Surname" id="surname"></li>
            <li><input type="text" placeholder="Mobile number or email"></li>
            <li><input type="password" placeholder="New password"></li>

            </div>
               
                
           
               
            <div id="lb" > <input type="submit" id="loginb" name="login" value="Log In" style="margin-left: 700px; margin-top: 100px; left: 200px;"></div>
            </form>

            <p style="margin-top: 500px;">Welcome to the new world of LEARNING</p>
        
        
            
        </div>
    
    </div>

    <div id="footer_wrapper">
       <marquee direction="rtl"> Created By Yash Raj Anand & Rishabh</marquee>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>